#header-navbar .navbar-brand {
    background: transparent "tamu-logo-with-bar.png" no-repeat top left;
    background: transparent url(/assets/tamu/tamu-logo-with-bar.png) no-repeat top left;
	margin-top: 10px;
    margin-bottom: -10px;
}

#header-navbar .navbar-toggle, #header-navbar .facets-toggle {
    background: #ffcf08;
}

.container > .navbar-header, .container > .navbar-collapse, .container > #facet-panel-collapse, .container > div[id*='facet-panel-'], .container-fluid > .navbar-header, .container-fluid > .navbar-collapse, .container-fluid > #facet-panel-collapse, .container-fluid > div[id*='facet-panel-'] {
	background-color: #3c0000;
}

.custom-header {
    background-color: #3c0000;
	padding: 0px 0px 0px 0px;
}

.navbar-default {
	background: #3c0000;
    border-top: 1px solid #8d8d8d;
}

.navbar-title {
	background: #3c0000;
    color: white;
}

.header-wrapper .header-logo > a:hover {
    text-decoration: none;
}

#footer.homepage-footer {
	background: #3c0000;
    padding: 20px 0 0;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #500000;
    background-color: #ffcf08;
}
	
.navbar-default .navbar-nav > li > a {
    color: white;
}	

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #500000;
    background-color: #ffcf08;
}

.btn-primary {
    color: white;
    background-color: #500000;
    border-color: #500000;
}

.btn-primary:hover {
    color: white;
    background-color: #3c0000;
    border-color: #3c0000;
}